@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    @font-face {
        font-family: "Dana";
        src: local("Dana"),
            url('../public/Fonts/Dana/woff2/DanaFaNum-Regular.woff2'), format("woff2");
        font-display: swap;    
    }

    @font-face {
        font-family: "DanaMedium";
        src: 
        url('../public/Fonts/Dana/woff2/DanaFaNum-Medium.woff2'),format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "DanaBold";
        src: 
        url('../public/Fonts/Dana/woff2/DanaFaNum-DemiBold.woff2'),format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba-Light";
        src: local("Morabba-Light"),
            url('../public/Fonts/Morabba/woff2/Morabba-Light.woff2'), format("woff2");
        font-display: swap;    
    }

    @font-face {
        font-family: "Morabba-Bold";
        src: local("Morabba-Bold")
        url('../public/Fonts/Morabba/woff2/Morabba-Bold.woff2'),format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba-Medium";
        src: local("Morabba-Medium")
        url('../public/Fonts/Morabba/woff2/Morabba-Medium.woff2'),format("woff2");
        font-display: swap;
    }

    body{
        height: 2000px;
     }

    a:hover{
        text-decoration: none;
        color: #FDBA74;
    }
    
 @media screen and (min-width:1280px) {
    .product{
        background-image: linear-gradient(rgba(17, 17, 17, 0.65),rgba(17, 17, 17, 0.65)),url('../public/images/body-bg.png');
        height: 900px;
        background-size: 100%;
        background-repeat: no-repeat;

    }
    .products{
        background-image: linear-gradient(rgba(243,244,246,0.65),rgba(243,244,246,0.65)), url('../public/images/body-bg.png');
        height: 900px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
  
    
 }

}

@layer components{
    .circle{
        @apply border rounded-full  bottom-0 left-0 right-0 mx-auto

    }
}

